
.content {
}
.torrents {
  margin: 54px 64px 32px auto;
  width: 90%;
  padding-top: 102px;
}

.middleContainer {
  background-color: #fff;
  width: 110%;
  margin-left: -50px;
  z-index: -998;
  position: absolute;
  white-space: nowrap;
  height: 100%;
  margin-top: 256px;
}
