
.content {
}
.torrents {
  margin: 192px 64px 32px auto;
  width: 72%;
}

.middleContainer {
  background-color: #fff;
  width: 110%;
  margin-left: -50px;
  z-index: -998;
  position: absolute;
  white-space: nowrap;
  height: 100%;
  margin-top: 384px;
}
